[project]
	description = simple
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kumar2222
[access "refs/for/refs/*"]
	read = group user/kumar2222
	push = group user/kumar2222
	label-Code-Review = -2..+2 group user/kumar2222
	label-Verified = -1..+1 group user/kumar2222
	rebase = group user/kumar2222
	removeReviewer = group user/kumar2222
	submit = group user/kumar2222
[access "refs/heads/*"]
	read = group user/kumar2222
	create = group user/kumar2222
	push = +force group user/kumar2222
	pushMerge = group user/kumar2222
[access "refs/tags/*"]
	push = +force group user/kumar2222
	pushTag = group user/kumar2222
	pushSignedTag = group user/kumar2222
